<div class="nav-right navbar my-navbar-right" id="top" role="banner">
  <ul class="nav navbar-nav">
    <li class="clearfix">
      <a href="category.html">Category</a>
    </li>
    <li class="clearfix">
      <a href="project.html">Project</a>
    </li>
    <li class="clearfix">
      <a href="location.html">Location</a>
    </li>
    <li class="clearfix">
      <a href="tag.html">Tag</a>
    </li>
  </ul>
</div>
<!--
<div class="nav-right navbar navbar-right" id="top" role="banner">
  <ul class="nav navbar-nav">
    <li ui-sref-active="active" ng-click="switchs()" class="clearfix">
      <a ui-sref="css">Category</a>
    </li>
    <li ui-sref-active="active" ng-click="switchs()" class="clearfix">
      <a ui-sref="module">模块</a>
    </li>
    <li ui-sref-active="active" ng-click="switchs()" class="clearfix">
      <a ui-sref="blog">blog</a>
    </li>
    <li ui-sref-active="active" ng-click="switchs()" class="clearfix">
      <a ui-sref="view">页面</a>
    </li>
  </ul>
</div>
-->