<!DOCTYPE html>
<html>
<head>
  <title>timeitem sign up</title>
  <link rel="stylesheet" href="assets/css/sign-up.css" />
  <link rel="stylesheet" href="assets/css/sign-up-plus.css" />
  
</head>
<body>

  <div class="bert-alert clearfix">
    <div class="container">
      <p></p>
      
    </div> <!-- end .container -->
  </div> <!-- end .bert-alert -->
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="auth-logo auth-header">
          <a href="https://timeitem.com/">
            <!--
            <img src="./Login_files/logo-mark.svg">
            -->
            TimeItem
          </a>
        </div>
        <div class="auth-wrapper">
          <form id="login" novalidate="novalidate">
            <div class="form-group">
              <label for="identifier">Email</label>
              <input type="email" class="form-control valid" name="identifier" id="identifier" aria-required="true" aria-invalid="false">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password">
            </div>
            <input type="submit" value="Log in" class="btn btn-block btn-success">
          </form>
        </div>
        <div class="auth-footer">
          New around here?<br>
          <a href="https://www.wiplo.com/register">Create a new team</a>
          <br><br><br><br>
          Forgot password?<br>
          <a href="https://www.wiplo.com/password/forgot">Reset password</a>
        </div>
      </div>
    </div>
  </div><iframe style="display: none;"></iframe></body>
</html>